<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedIn">
  <ion-card class="welcome-card">
    <ion-item *ngIf="picture">
      <ion-avatar>
        <img src="{{ picture }}" alt="" />
      </ion-avatar>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>Expires In {{ expires }}</ion-card-subtitle>
      <ion-card-title>AccessToken: {{ accessToken }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-content *ngIf="!loggedIn" class="card">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col offset="2" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-text color="tertiary">
                <h1>Welcome to Aartzy group of companies</h1>
                <h2>
                  <ion-icon name="log-in"></ion-icon>
                  &nbsp;Please Login to continue
                </h2>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
